* {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Bebas Neue";
}

.container {
    position: relative;
    text-align: center;
    margin-right: 36px;
}

.container img {
    margin: 70px 0px 30px 20%;
    box-shadow: rgba(0, 0, 0, 0.41) 9px 5px 30px;
    height: 400px;
}

.container h4 {
    margin-top: 3px;
}

.container p {
    margin-left: 10%;
    margin-right: 10%;
}

.back-button {
    display: flex;
    position: absolute;
    margin: 2% 0px 0px 2%;
    z-index: 2000;
}

.back-arrow {
    display: flex;
    position: absolute;
    height: 18px;
    margin-top: 3px;
}

.back-button h2 {
    margin: 0px 0px 3px 28px;
}

.back-button:hover {
    text-decoration: underline;
}