/* .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(128, 128, 128, 0.866); 
        z-index: 1004;
    } */
* {
    overflow: hidden;
}

footer {
    background: #00000036;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 15%;
    width: 100%;
    z-index: 1004;
}

footer p {
    margin: 5px 0;
}

.slider-frame {
    width: 100%;
    height: 100vh;
    /* margin: 30px auto 0; */
    overflow: hidden;
    position: relative;
}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 900%;
    animation: slide 50s infinite alternate ease-in-out;
}

.slider-frame li {
    width: 100%;
    list-style: none;
}

.slider-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    11.1111% {
        margin-left: 0;
    }

    22.2222% {
        margin-left: -100%;
    }

    33.3333% {
        margin-left: -200%;
    }

    44.4444% {
        margin-left: -300%;
    }

    55.5556% {
        margin-left: -400%;
    }

    66.6667% {
        margin-left: -500%;
    }

    77.7778% {
        margin-left: -600%;
    }

    88.8889% {
        margin-left: -700%;
    }

    100% {
        margin-left: -800%;
    }
}